body{
    background:#f5d9d5 ;
    font-family: 'Nunito Sans', sans-serif;

}
h2{
    color:#ea1c2c ;
    font-weight: 100;
    
}
p{
    color: #ec6393;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content{
    margin-bottom: 100px;
    align-items: center;
}
#main-navbar{
    font-size: 1.32rem;
    font-weight: 100;
}
#main-navbar .navbar-brand{
    color:#ea1c2c;
    font-size: 1.4rem;
}
#main-navbar #navlinks{
    color: blanchedalmond;
}
#main-navbar #navlinks :hover{
    color: #ea1c2c;
}
.navbar-toggler{
    background-color: #ab393917;
}
.navbar-dark .navbar-toggler {
    border-color: #dc3d35d1;

}
#heading h1{
    font-weight: 100;
    font-size: 4rem;
}
@media (max-width:1200px) {
    #heading h1{
        font-weight:100;
        font-size:3rem;
        color:red;
    }
}



